* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --theme-color: #731a28ff;
}
.container {
  h1 {
    color: #fff;
    font-style: italic;
  }
  .snowflake {
    position: absolute;
    margin-left: 15rem;
  }
  width: 100vw;
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-image: linear-gradient(to left, #98011d, #000000);
  .card {
    min-width: 350px;
    max-width: 400px;
    margin-bottom: 3rem;
    /* background-color: pink; */
    text-align: center;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 2px 4px 10px rgb(56, 47, 47);
    h2 {
      background-color: var(--theme-color);
      padding: 1rem;
      color: #fff;
      font-size: 2.5rem;
    }
    .btn-container {
      margin-top: 1rem;
      gap: 1rem;
      button {
        background-color: var(--theme-color);
        padding: 0.4rem 1rem;
        border: 0;
        color: #fff;
        border-radius: 0.2rem;
      }
    }
    .theme-btn-container {
      margin: 1rem;
      gap: 0.8rem;
      .btn {
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 50%;
        border: 0;
        cursor: pointer;
      }
      .btn1 {
        background-color: #731a28ff;
      }
      .btn2 {
        background-color: rgb(169, 33, 53);
      }
      .btn3 {
        background-color: rgb(223, 57, 82);
      }
      .btn4 {
        background-color: rgb(255, 97, 120);
      }
    }
  }
}
.center {
  display: flex;
  justify-content: center;
}
button {
  cursor: pointer;
}
